.container {
    text-align: center;
}

.menuContainer {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    z-index: 999;
}